In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

data_path = "../data/Sleep_health_and_lifestyle_dataset.csv"
data_df = pd.read_csv(data_path)

data_clear = data_df[['Age', 'Sleep Duration']]

In [3]:
data_clear

     Age  Sleep Duration
0     27             6.1
1     28             6.2
2     28             6.2
3     28             5.9
4     28             5.9
..   ...             ...
369   59             8.1
370   59             8.0
371   59             8.1
372   59             8.1
373   59             8.1

[374 rows x 2 columns]

In [7]:
# Calculate the variance
variance_data = pd.DataFrame(data_df.var()).transpose()
variance_data.index = ['variance']

# Calculate IQR
Q1 = data_df.quantile(0.25)
Q3 = data_df.quantile(0.75)
IQR = Q3 - Q1

IQR_data = pd.DataFrame(IQR).transpose()
IQR_data.index = ['IQR']

# Calculate Range
Range = data_df.max() - data_df.min()
Range_data = pd.DataFrame(Range).transpose()
Range_data.index = ['Range']

descriptive_stat_data = pd.concat([data_df.describe(), variance_data, IQR_data, Range_data])

TypeError: could not convert string to float: 'Male'